@import "tailwindcss";
@import "./marketing.css";
@import "./base.css";
@import "./components.css";
@import "./theme-token.css";
@import "./dashboard-theme.css";
@import "./user-dashboard-theme.css";

/* Lexical Table Styling */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

td,
th {
  border: 1px solid #d1d5db; /* light gray */
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: #f3f4f6;
  font-weight: 600;
}
